.footer {
    width: 99%;
    height: 20px;
    background-color: #323A44;
    bottom: 5;
    position: absolute;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
}

p {
    background-color: rgba(158, 152, 152, 0);
    color: white;
}