.container {
    width: 400px;
    height: 100%;
    min-height: 400px;
    background-color: #323A44;
    margin-left: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 130px;
    height: 130px;
    margin-top: 50px;
    border-radius: 70px;
    border: solid 2px #F6B438;
}

.container-buttons {
    width: 80%;
    min-height: 250px;
    height: auto;
    background-color: rgba( red 25, green 2, blue 47, alpha 0.2);
    backdrop-filter: blur(0.3);
    display: flex;
    align-items: center;
    padding-top: 70px;
    flex-direction: column;
    border-radius: 10px;
    border: solid 2px #F6B438;
    opacity: 0.8;
}

button {
    width: 80%;
    height: 50px;
    background-color: #F6B438;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: #F6B438;
    border-bottom: #F6B438;
}

button:hover {
    background-color: #cfa14b;
    box-shadow: 0px 0px 10px;
}